.git
.github
.next
.pnpm-store
coverage
node_modules
out
dist
.turbo
.cache
.parcel-cache
.nyc_output

.env
.env.*
!.env.example

*.log
*.pid
*.seed
*.tgz
*.sqlite
*.db

.DS_Store
.Spotlight-V100
.Trashes
.idea
.vscode
*.swp
*.swo
*~

tmp
temp
