/* @import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Merriweather:wght@400;700&family=Fira+Code:wght@400;500;600;700&display=swap"); */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./markdown.css";

@custom-variant dark (&:is(.dark *));

@import "./theme.css";

@layer base {
  :root {
    font-family: var(--font-sans);
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
    text-rendering: optimizeLegibility;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }

  :focus-visible {
    scroll-margin: 1rem;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      scroll-behavior: auto !important;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }
  }

  .font-sans {
    font-family: var(--font-sans) !important;
  }

  .font-serif {
    font-family: var(--font-serif) !important;
  }

  .font-mono {
    font-family: var(--font-mono) !important;
  }
}
